/* General font styles */
html {
	font: 100%/1.3 Verdana, Helvetica, Arial, sans-serif;
}

body {
	font: 70%/1.3 Verdana, Helvetica, Arial, sans-serif;
}

select, table {
	font-size: 1em;
}

h1 {
	font: bold 2em Arial, sans-serif;
}
                       
h2 {                     
	font: bold 1.5em Arial, sans-serif;
}
                       
h3 {                     
	font: bold 1.25em Arial, sans-serif;
}
                       
h4 {                     
	font: bold 1.1em Arial, sans-serif;
}

/* Default resetting */
html, body, form, fieldset, legend, dt, dd {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin: 0 0 1em;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

pre {
	font-size: 1.5em;
}

li, dd {
	margin-left: 1.5em;
}

img {
    border: none;
	vertical-align: middle;
}

/* Basic element styles */
a {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

html {
	color: #000;
	background: #555;
	
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#555));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #222, #555);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF222222, endColorstr=#FF555555);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF222222, endColorstr=#FF555555)";
	min-height: 100%;	
}

body {
	margin-bottom: 30px;
}

h1 {
	color: #6c9af8;
}

h1 a {
	position: relative;
	left: 20px;
	top: -0.4em;
	color: #6c9af8;
	font-size: 0.5em;
	line-height: 0.5em;
}

h2 {
	margin: 1em 0 0.5em;
	border-bottom: 1px solid #000;
}

#index-page h3 {
	border-bottom: 1px solid #000;
	padding-bottom: 0.5em;
	margin: 2em 0 1.5em;
}

pre{
	background: #eee;
	padding: 1em;
	overflow: auto;
}

dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

input {
	vertical-align: middle;
}

table {
	width: 100%;
	margin: 0 0 1em;
}

th, td {
	text-align: left;
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
}

td {
	width: 500px;
	vertical-align: top;
}

th {
	width: 180px;
	border-right: 1px solid #ccc;
}

thead th {
	border-color: #000;
}

th.last {
	border-right: none;
}

th.section-title {
	text-align: center;
	border-right: none;
	padding: 1em 0.5em;
}

tr.even {
	background: #eee;
}



/* Structure */
#dropContainer {
	width: 760px;
	min-height: 250px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	margin: 20px auto;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 320px) {
    #dropContainer {
        width: 280px;
        padding: 10px;
    }
}

#dropMain-content {
	overflow: hidden;
}

.navigation {
	background: #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2em;
	padding: 1em;
}

.navigation li {
	margin-bottom: 0.5em;
}

.navigation h2 {
	border-bottom: none;
}

.section {
	border-bottom: 1px solid #ccc;
	margin: 2em 0;
	padding-bottom: 1em;
}

.browsers {
	list-display: none;
	margin: 0;
}

.browsers li {
	display: inline-block;
	width: 60px;
	text-align: center;
	vertical-align: top;
	margin: 0 10px 0 0;
}

.browsers li img {
	display: block;
	margin: 0 auto;
}

.failed {
	color: #f00;
}


.statcounter {
	position: absolute;
	left: -99999px;
}

/* HTML5 demos */
header,
nav,
section,
article,
aside,
footer {
	display: block;
}

time {
	display: inline;
}

#demo-top-nav {
	margin-bottom: 2em;
	border-bottom: 1px solid #000;
}

#demo-main {
	overflow: hidden;
}

#demo-main-content {
	float: left;
	width: 70%;
}

#demo-main-content h2,
#demo-main-content h3 {
	border-bottom: none;
	margin: 0 0 5px;
	padding: 0;
}

#demo-aside-content {
	float: right;
	width: 25%;
	color: #fff;
	background: #6c9af8;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#page-footer {
	border-top: 1px solid #000;
	margin-top: 4em;
	padding-top: 1em;
}


