body {
    background-image: url("../images/Beer-faq-bg-1500.jpg");
    padding-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
}

.firebaseui-subtitle, .firebaseui-title {
    color: black;
}

.fav {
    background-image: url();
    background-color: #272B30;
}

.delete {
    border-radius: 2rem;
}

[fav~="Y"] {
    background-color: #f89406;
}

[fav~="N"] {
    background-color: #272B30;
}

img {
    max-width: 100%;
    max-height: 100%;
}

textarea.form-control {
    height: auto;
}


/*adding in drop zone css here*/


/* Structure */

#dropContainer {
    width: 760px;
    min-height: 250px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    margin: 20px auto;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 320px) {
    #dropContainer {
        width: 280px;
        padding: 10px;
    }
}

#dropMain-content {
    overflow: hidden;
}


/*end drop zone css*/
